* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* position: relative; */
  background: #520184;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgb(255,217,0);
  background: linear-gradient(90deg, rgba(255,217,0,1) 0%, rgba(255,210,5,1) 37%, rgba(255,174,0,1) 100%);
  border-radius: 8px;
}
.mercury {
  width: 90%;
  height: 29px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: x-large;
  color: #4d4d4d;
  font-size: 24px;
  line-height: 29px;
}
.timer {
  border: 2px solid red;
  width: 5%;
  height: 59px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.04em;
  color: #4d4d4d;
  border: 5px solid #4d4d4d;
  border-radius: 8px;
}
.box {
  display: flex;
  margin-top: 50px;
  width: 94%;
  height: 364px;
  background-color: rgb(92, 92, 92);
  box-shadow: 2px 2px 5px 8px rgba(78, 78, 78, 0.75);
  border-radius: 40px;
}
.div_1{
  position: relative;
  width: 55%;
}
.div_2{
  width: 45%;
}
.div_1 .options{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 40px;
  background-color:#cccccc;
}
.div_1 .options .all{
  text-align: center;
  width: 280px;
  height: 65px;
  margin-top: 20px;
  border: 2px solid black;
  color: #2b2b2b;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.all:hover{
  cursor: pointer;
  background: rgb(255,217,0);
  background: linear-gradient(90deg, rgba(255,217,0,1) 0%, rgba(255,210,5,1) 37%, rgba(255,174,0,1) 100%);
  transition: 1s ease-in-out;
}
.arrow1 i {
  position: absolute;
  top: 40%;
  left: 5px;
  width: 60px;
  height: 60px;
  padding: 10px;
  font-size: 40px;
  color: white;
  background: rgb(255,217,0);
  background: linear-gradient(90deg, rgba(255,217,0,1) 0%, rgba(255,210,5,1) 37%, rgba(255,174,0,1) 100%);
  border-radius: 50%;
}

.arrow2 i {
  position: absolute;
  top: 40%;
  right: 5px;
  width: 60px;
  height: 60px;
  padding: 10px;
  font-size: 40px;
  color: white;
  background: rgb(255,217,0);
  background: linear-gradient(90deg, rgba(255,217,0,1) 0%, rgba(255,210,5,1) 37%, rgba(255,174,0,1) 100%);
  border-radius: 50%;
}
.arrow1 i:hover,.arrow2 i:hover{
  background:rgb(255,217,0) ;
  transition: 0.4s ease-out;
}
.image {
  width: 100%;
  height: 364px;
  background: url(s2.jpeg);
  background-size: cover;
  border-radius: 40px;
}

.button {
  display: flex;
}
.crash {
  position: absolute;
  width: 170px;
  height: 50px;
  left: 300px;
  top: 510px;
  background-color: rgb(241, 188, 52);
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 33px;
  border-radius: 10px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #000000;
}
.crash:hover{
  cursor: pointer;
    background-color: #97e92c;
    transition: 0.4s ease-in-out;
}
.hint1 {
  position: absolute;
  width: 170px;
  height: 50px;
  left: 500px;
  top: 510px;
  background-color: yellow;
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 33px;
  border-radius: 10px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #000000;
}
.hint2 {
  position: absolute;
  width: 170px;
  height: 50px;
  left: 700px;
  top: 510px;
  background-color: yellow;
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 33px;
  border-radius: 10px;
  /* identical to box height */

  letter-spacing: 0.04em;

  color: #000000;
}
.hint1:hover,.hint2:hover{
    cursor: pointer;
    background-color: #fdc407;
    transition: 0.4s ease-in-out;
}
.know {
  position: absolute;
  width: 170px;
  height: 50px;
  left: 900px;
  top: 510px;
  background-color: rgb(12, 177, 231);
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
  border-radius: 10px;

  letter-spacing: 0.02em;

  color: #000000;
}
.know:hover{
  cursor: pointer;
  background-color: #39c1f7;
  transition: 0.4s ease-in-out;
}

.red {
  background: red;
}
.red:hover {
  background: red;
}

.green {
  background: green;
}
.green:hover {
  background: green;
}

.hintBox1 {

  width: 100%;
  height: 364px;
  text-align: center;
  padding-top: 10rem;
  background: rgb(47, 255, 92);
  font-size: 2rem;
  font-weight: bold;
  border-radius: 40px;
}

.hintBox2 {

  width: 100%;
  height: 364px;
  text-align: center;
  padding-top: 10rem;
  background: rgb(47, 255, 92);
  font-size: 2rem;
  font-weight: bold;
  border-radius: 40px;
}
.hintBox3 {

  width: 100%;
  height: 364px;
  text-align: center;
  background: rgb(47, 255, 92);
  padding: 4rem;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 40px;
}

.joy {
  color: white;
  text-decoration: none;
}
